.mainBox {
  background-color: white;
  color: black;
  padding: 20px;
  font-family: Roboto, "Helvetica Neue";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
